:root {
    --color-dark-blue: #1a1a40;
    --color-accent-yellow: #ffd700;
    --color-text-light: #e0e0e0;
    --gradient-start: #1a1a40;
    --gradient-end: #1a1a40;
  }

@media (max-width:900px) {
    
    .header-mobile{
        right: -100%;
        top: 0;
        height: 100dvh;
        background-color: var(--color-text-light);
    }

    .header-mobile-responsive{
        right: 0;
        top: 0;
        height: 100dvh;
        background-color: var(--color-text-light);
      }
      
       .box-button-menu{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        right: .6%;
        top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-dark-blue);
        cursor: pointer;
       }
      
       .box-button-menu .button-left{
         width: 75%;
         height: 4px;
         background-color: var(--color-text-light);
         margin-bottom: 3px;
       }
      
       .box-button-menu .button-center{
        width: 75%;
        height: 4px;
        background-color: var(--color-text-light);
      
      }
      
      .box-button-menu .button-right{
        width: 75%;
        height: 4px;
        background-color: var(--color-text-light);
        margin-top: 3px;
      
      }
      


    .header-mobile .nav-links{
    flex-direction: column;
    align-items: center;
   }

   .header-mobile .nav-links a{
    color: var(--color-dark-blue);
    
   }

   .header .header-mobile .nav-links .contact-button a{
    background-color: #1a1a40;
    
   }

   
}